<a href="https://colab.research.google.com/github/Sbbarse787/Spam-Classification/blob/master/NLP_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [ ]:
cd/gdrive/My Drive/Colab Notebooks/SAS/NLP_SPAM_CLASSIFICATION

/gdrive/My Drive/Colab Notebooks/SAS/NLP_SPAM_CLASSIFICATION

In [ ]:
ls

combin_train_test.csv  readme         training_data.csv
MyPredictions.csv      test_data.csv

In [ ]:
#import glob
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string

In [ ]:
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]  #Do not execute this code

In [ ]:
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
#combined_csv.to_csv( "combin_train_test.csv", index=False, encoding='utf-8-sig')

In [ ]:
df =pd.read_csv('combin_train_test.csv')

In [ ]:
df.shape

(5572, 2)

In [ ]:
df.tail(20)

                                               msg_text ham_or_spam
5552                       Oh k. . I will come tomorrow         NaN
5553  PRIVATE! Your 2003 Account Statement for shows...         NaN
5554          HI ITS KATE CAN U GIVE ME A RING ASAP XXX         NaN
5555  22 days to kick off! For Euro2004 U will be ke...         NaN
5556  The Xmas story is peace.. The Xmas msg is love...         NaN
5557  Call 09094100151 to use ur mins! Calls cast 10...         NaN
5558  Urgent! Please call 09061743811 from landline....         NaN
5559  all the lastest from Stereophonics, Marley, Di...         NaN
5560  True dear..i sat to pray evening and felt so.s...         NaN
5561  Getting tickets 4 walsall tue 6 th march. My m...         NaN
5562             No message..no responce..what happend?         NaN
5563                       Did u got that persons story         NaN
5564  Bloomberg -Message center +447797706009 Why wa...         NaN
5565  FREE UNLIMITED HARDCORE PORN direct 2 your mob...         NaN
5566  +123 Congratulations - in this week's competit...         NaN
5567  Heart is empty without love.. Mind is empty wi...         NaN
5568  Alright we'll bring it to you, see you in like...         NaN
5569                      If You mean the website. Yes.         NaN
5570  Ya they are well and fine., BBD(pooja) full pi...         NaN
5571                        I am on the way to tirupur.         NaN

In [ ]:
df['ham_or_spam'].replace({'ham':0,'spam':1},inplace=True)

In [ ]:
df['ham_or_spam'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
5567     True
5568     True
5569     True
5570     True
5571     True
Name: ham_or_spam, Length: 5572, dtype: bool

In [ ]:
df['ham_or_spam'].replace({np.nan:0},inplace=True)

In [ ]:
df.isnull().sum()

msg_text       0
ham_or_spam    0
dtype: int64

In [ ]:
df['msg_text'].dtype

dtype('O')

In [ ]:
df.head()

                                            msg_text  ham_or_spam
0  Haha better late than ever, any way I could sw...          0.0
1  Thanks a lot for your wishes on my birthday. T...          0.0
2  A guy who gets used but is too dumb to realize...          0.0
3  Talk sexy!! Make new friends or fall in love i...          1.0
4  Nowadays people are notixiquating the laxinorf...          0.0

In [ ]:
df['ham_or_spam']=df['ham_or_spam'].astype(int)

In [ ]:
df['ham_or_spam'].dtype

dtype('int64')

In [ ]:
df.dtypes

msg_text       object
ham_or_spam     int64
dtype: object

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
def process_text(text):
  nopunc  = [char for char in text if char not in string.punctuation]
  nopunc = ''.join(nopunc)
  cln_word = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
  return cln_word

In [ ]:
df['msg_text'].apply(process_text)
from sklearn.feature_extraction.text import CountVectorizer
message = CountVectorizer(analyzer=process_text).fit_transform(df['msg_text'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(message,df['ham_or_spam'],test_size=0.10,random_state=10)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train,y_train)

In [ ]:
y_pred_NB = classifier.predict(X_test)

In [ ]:
predictions = pd.DataFrame(y_pred_NB)

In [ ]:
predictions

     0
0    0
1    0
2    0
3    1
4    0
..  ..
553  0
554  0
555  0
556  0
557  0

[558 rows x 1 columns]

In [ ]:
predictions.to_csv('My_Predictions.csv',index=False)